.custom-sidebar {
  background-color: #fff; /* Arka plan rengi */
}

.custom-sidebar .pro-menu .pro-menu-item {
  background-color: #f0f0f0; /* Aktif olmayan menü öğelerinin arka plan rengi */
}

.custom-sidebar .pro-menu .pro-menu-item.active {
  background-color: #1890ff; /* Aktif menü öğesi rengi */
  color: #ffffff; /* Aktif menü öğesi metin rengi */
}
