@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

:root {
  --color-white: #fff;
  --color-text: #333842;
  --color-light-text: rgb(104, 102, 102);
  --color-light: rgba(129, 134, 180, 0.18);
  --color-background: #f0f1f5;
  --box-shadow: 0 1rem 1.5rem var(--color-light);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  font-weight: normal;
}

.card {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

.card:hover{
  box-shadow: none;
}

.dark-mode-variables {
  --color-background: #0f151d;
  --color-white: #212631;
  --color-text: #f0f1f5;
  --color-light-text: rgb(190, 190, 190);
  --color-light: rgba(0, 0, 0, 0.1);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.profile-avatar:hover{
  cursor: pointer;
}

.social-icon-div:hover{
  background-color: lightgray;
}
